<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/customers">Клиенты</a></li>
        <li><a href="/sales">Продажи</a></li>
        <li><a href="/tasks">Задачи</a></li>
        <li><a href="/">Выход</a></li>
    </ul>
</nav>
<main>
    <div class="hero">
        <h1>Эффективно управляйте своими клиентами, продажами и задачами.</h1>


    </div>
    <div class="features">
        <div class="feature">
            <h2>Управление клиентами</h2>
            <p>Следите за информацией о своих клиентах.</p>
            <a href="/customers" class="button">Клиенты</a>
        </div>
        <div class="feature">
            <h2>Отслеживать продажи</h2>
            <p>Контролируйте свои продажи и доходы.</p>
            <a href="/sales" class="button">Продажи</a>
        </div>
        <div class="feature">
            <h2>Организация задач</h2>
            <p>Будьте в курсе своих задач и сроков.</p>
            <a href="/tasks" class="button">Задачи</a>
        </div>
    </div>
</main>
<script src="/js/scripts.js"></script>
</body>
</html>